<div class="sohw-row">
  <h3 class="show-title">Title:</h3>
  <span><%= @book.title %></span>
</div>
<div class="sohw-row">
  <h3 class="show-title">Body:</h3>
  <spna><%= @book.body %></span>
</div>

<td><%= link_to 'Edit',edit_book_path %></td>
<td><%= link_to 'Back',:back %></td>